POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MSSQL_SA_PASSWORD=

MONGO_USER=
MONGO_PASSWORD=

RABBITMQ_USER=
RABBITMQ_PASSWORD=

KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

SEQ_ADMIN_PASSWORD=